.text {
  font-family: 'Volkhov', serif;
  color: white;
  margin: 5%;
}

.welcome-text {
  font-family: 'Volkhov', serif;
  color: white;
  margin-left: 5%;
}

.black {
  color:black;
}

.grid-item {
  width: 45%;
  float: left;
  max-width: 100%;
}

#projects {
  background: rgba(255,255,255, 0.6);
  display:inline-block;
}

figure {
  opacity: 1;
  margin: 5%;
}

figcaption {
  font-family: 'Volkhov', serif;
  margin: 1%;
}

.node circle {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

#welcome, #projects, #about {
  border-style: solid;
  border-radius: 10px;
}
#welcome {
  background: rgba(30,30,30,0.8);
  height:100%;
  overflow: scroll;
}

#d3chart {
  z-index: 1;
  margin-top: -10%;
  position: absolute;
}

#about {
  background: rgba(255,255,255, 0.6);
}

#contact {
  margin-bottom:5%;
  margin-left:10%;
  margin-top: 5%;
}

.myPhoto {
  float:left;
  margin: 5%;
}

body {
  background-image: url('../assets/background2.jpg');
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 0px;
}

