body {
  display: inline-block;
  /*position: relative;*/
  /*background-image: url('../assets/background2.jpg');*/
  /*background-size: cover;*/
  height: 100%;
}

.text {
  font-family: 'Volkhov', serif;
  color: white;
  margin: 5%;
}

.welcome-text {
  font-family: 'Volkhov', serif;
  color: white;
  margin-left: 5%;
}

.black {
  color:black;
}

.grid-item {
  width: 45%;
  float: left;
  max-width: 100%;
}

#content {
  position: relative;
  top: 1000px;
  background-image: url('http://7-themes.com/data_images/out/36/6894141-blurred.jpg');
  background-size: cover;
}

#projects {
  /*background: rgba(255,255,255, 0.6);*/
  /*top: 1000px;*/
  display: inline-block;
  width:100%;
}

canvas {
  width: 100%;
  z-index: -1;
  position: fixed;
}

.nodes circle {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

#welcome {
  width: 100%;
  height: 100%;
/*  background: url('https://c1.staticflickr.com/1/4/6919680_75bcadc52b_b.jpg');
  background-size: cover;*/
  background: rgba(30,30,30,0.6);
/*  background-image: url('http://www.freebiesgallery.com/wp-content/uploads/2014/02/blurred-background-2.jpg');
  background-size: cover;*/
  position: fixed;
  overflow: scroll;
}


.portrait {
  margin: 0 auto;
  width: 20%;
}

#welcome-panel {
  width: 100%;
  margin: 0 auto;
  margin-top: -11%;
  background: white;
  padding: 20px;
}

.welcome-link {
  color: black;
  font-size: 20px;
  cursor: pointer;
}

.left {
  margin-left: 20%;
}

.right {
  float: right;
  margin-right: 18%;
}

#about {
  /*background: rgba(255,255,255, 0.7);*/
  background: url('http://maintenance.io/wp-content/uploads/2014/09/Blurred-Background1.jpg');
  margin-top: 5%;
  position: relative;
  padding: 2%;
}

.about-text {
  margin: 100px;
}

#contact {
  margin-bottom:10%;
  margin-left:10%;
  margin-top: 7%;
  height: 100%;
  width: 100%;
  display: inline-block;
  /*z-index: 1;*/
}

#d3chart {
  margin-top: -10%;
}

.myPhoto {
  float:left;
  margin: 5%;
}

.link, .arc {
  fill: none;
  stroke: #ccc;
  stroke-width: 0px;
}

li {
  margin-left: -7%;
}

.project-title {
  font-family: 'Raleway', sans-serif;
}

.project {
  margin-top: 5%;
}

.col-md-3 {
  margin-top: 5%;
}

.open {
  position: fixed;
  top: 15px;
  right: 40px;
  width: 50px;
  height: 50px;
  display: block;
  cursor: pointer;
  transition: opacity 0.2s linear;
  z-index: 100;
}

.open:hover { opacity: 0.8; }

.open span {
  display: block;
  float: left;
  clear: both;
  height: 4px;
  width: 40px;
  border-radius: 40px;
  background-color: #fff;
  position: absolute;
  right: 3px;
  top: 3px;
  overflow: hidden;
  transition: all 0.4s ease;
}

.open span:nth-child(1) {
  margin-top: 10px;
  z-index: 9;
}

.open span:nth-child(2) { margin-top: 25px; }

.open span:nth-child(3) { margin-top: 40px; }

.sub-menu {
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  height: 0;
  width: 0;
  right: 0;
  top: 0;
  position: absolute;
  background-color: rgba(38, 84, 133, 0.54);
  border-radius: 50%;
  z-index: 18;
  overflow: hidden;
}

.sub-menu li {
  display: block;
  float: right;
  clear: both;
  height: auto;
  margin-right: -160px;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.sub-menu li:first-child { margin-top: 180px; }

.sub-menu li:nth-child(1) { -webkit-transition-delay: 0.05s; }

.sub-menu li:nth-child(2) { -webkit-transition-delay: 0.10s; }

.sub-menu li:nth-child(3) { -webkit-transition-delay: 0.15s; }

.sub-menu li:nth-child(4) { -webkit-transition-delay: 0.20s; }

.sub-menu li:nth-child(5) { -webkit-transition-delay: 0.25s; }

.menu-text {
  color: #fff;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-size: 16px;
  width: 100%;
  display: block;
  float: left;
  line-height: 40px;
}

.opened .sub-menu {
  opacity: 1;
  height: 400px;
  width: 400px;
}

.opened span:nth-child(2) { overflow: visible; }

.opened span:nth-child(1),
.opened span:nth-child(3) {
  z-index: 100;
  transform: rotate(45deg);
}

.opened span:nth-child(1) { transform: rotate(45deg) translateY(12px) translateX(12px); }

.opened span:nth-child(2) {
  height: 400px;
  width: 400px;
  right: -160px;
  top: -160px;
  border-radius: 50%;
  background-color: rgba(38, 84, 133, 0.54);
}

.opened span:nth-child(3) { transform: rotate(-45deg) translateY(-10px) translateX(10px); }

.opened li { margin-right: 168px; }

rect {
  fill: none;
  pointer-events: all;
}

circle {
  fill: none;
  stroke-width: 2.5px;
}

/*.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}*/

/*.node circle {
  fill: #ccc;
  stroke: #fff;
  stroke-width: 1.5px;
}*/

text {
  font: 14px sans-serif white;
  fill: white;
  /*color: white;*/
  pointer-events: none;
}




